.generador{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background-color: #d3d3d3;
margin: 20px;
}
.coco{
    margin: 0 0 30px;
padding: 20px;
}
element.style {
      height: 100%;
}
body {
    background-color:#999;
    background-size:100%;
    font-family:Tahoma, Geneva, sans-serif;}

.ButtonStl{

  justify-content: center;
  display: flex;
  margin-top: 30px;}